USE [GYM]
GO
/****** Object:  User [user9815]    Script Date: 3/27/2019 11:19:07 AM ******/
CREATE USER [user9815] FOR LOGIN [user9815] WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 3/27/2019 11:19:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID] [int] NOT NULL,
	[NOMBRE] [varchar](15) NULL,
	[APELLIDO] [varchar](20) NULL,
	[CEDULA] [varchar](10) NULL,
	[SEXO] [varchar](10) NULL,
	[F_NACIMIENTO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSCRIPCIONES]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSCRIPCIONES](
	[NRO_INSCRIPCION] [int] NOT NULL,
	[FECHA_INSCRIPCION] [date] NULL,
	[ID_CLIENTE] [int] NULL,
	[PLAN_ID] [varchar](15) NULL,
	[INICIO] [date] NULL,
	[FIN] [date] NULL,
	[DEUDA] [decimal](18, 0) NULL,
	[DESCRIPCION] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[NRO_INSCRIPCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NRO_INSCRIPCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CLIENTES_INSCRITOS]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CLIENTES_INSCRITOS] 
AS
SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, C.F_NACIMIENTO, 
I.FECHA_INSCRIPCION, I.PLAN_ID AS TIPO_DE_PLAN, I.DEUDA 
FROM CLIENTES C 
INNER JOIN INSCRIPCIONES I 
ON C.ID = I.ID_CLIENTE
WHERE C.ID = I.ID_CLIENTE
GO
/****** Object:  Table [dbo].[PERFILES]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFILES](
	[ID_PERFIL] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ESTATURA] [varchar](10) NULL,
	[PESO_INICIAL] [varchar](10) NULL,
	[PESO_ACTUAL] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LESIONADOS]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LESIONADOS](
	[ID_PERF] [int] NOT NULL,
	[NOMBRE_LESION] [varchar](20) NULL,
	[DIA] [date] NULL,
	[DESCRIPCION] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ESTADO_CLIENTES]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ESTADO_CLIENTES]
AS
SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, P.ESTATURA, P.PESO_INICIAL, 
P.PESO_ACTUAL, L.NOMBRE_LESION, L.DIA, L.DESCRIPCION
FROM CLIENTES C 
INNER JOIN PERFILES P 
ON C.ID = P.ID_CLIENTE
INNER JOIN LESIONADOS L
ON P.ID_PERFIL = L.ID_PERF
WHERE C.ID = P.ID_PERFIL
GO
/****** Object:  Table [dbo].[HISTORIAL]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL](
	[ID] [int] NOT NULL,
	[FECHA] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ASISTENCIA]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ASISTENCIA] 
AS
SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, H.FECHA
FROM CLIENTES C 
INNER JOIN HISTORIAL H 
ON C.ID = H.ID
WHERE C.ID = H.ID
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[COD_INSCRIPCION] [int] NULL,
	[FECHA] [date] NULL,
	[SALDO] [decimal](18, 0) NULL,
	[DETALLES] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[HISTORIAL_DE_PAGOS]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HISTORIAL_DE_PAGOS]
AS
SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, P.SALDO, P.FECHA, P.DETALLES
FROM CLIENTES C 
INNER JOIN INSCRIPCIONES I
ON C.ID = I.ID_CLIENTE
INNER JOIN PAGO P
ON I.NRO_INSCRIPCION = P.COD_INSCRIPCION
WHERE C.ID = I.ID_CLIENTE
GO
/****** Object:  Table [dbo].[REDES]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REDES](
	[ID_REDES] [int] NOT NULL,
	[WHATSAPP] [varchar](25) NULL,
	[FACEBOOK] [varchar](30) NULL,
	[INSTAGRAM] [varchar](30) NULL,
	[CORREO] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_REDES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFO_CONTACTO]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFO_CONTACTO](
	[ID_CLIENTE] [int] NULL,
	[TELEFONO] [varchar](15) NULL,
	[TEL_FAMILIAR] [varchar](15) NULL,
	[DIRECCION] [varchar](40) NULL,
	[ID_SOCIAL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CONTACTO]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CONTACTO] 
AS
SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, R.WHATSAPP, R.FACEBOOK, R.INSTAGRAM,
R.CORREO, I.TEL_FAMILIAR, I.DIRECCION
FROM CLIENTES C 
INNER JOIN INFO_CONTACTO I
ON C.ID = I.ID_CLIENTE
INNER JOIN REDES R
ON I.ID_SOCIAL = R.ID_REDES
WHERE C.ID = I.ID_CLIENTE
GO
/****** Object:  View [dbo].[ESTADO_CLIENTES_ONE]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ESTADO_CLIENTES_ONE]
AS
SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, P.ESTATURA, P.PESO_INICIAL, 
P.PESO_ACTUAL, L.NOMBRE_LESION AS LESIONES, L.DIA, L.DESCRIPCION, P.ID_PERFIL
FROM CLIENTES C 
INNER JOIN PERFILES P 
ON C.ID = P.ID_CLIENTE
INNER JOIN LESIONADOS L
ON P.ID_PERFIL = L.ID_PERF
WHERE C.ID = P.ID_PERFIL
GO
/****** Object:  Table [dbo].[PLANES]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANES](
	[ID] [varchar](15) NOT NULL,
	[NOMBRE] [varchar](15) NULL,
	[COD_SUCURSAL] [int] NULL,
	[COSTO] [decimal](18, 0) NULL,
	[DESCRIPCION] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CLIENTES_PLANES]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CLIENTES_PLANES]
AS
SELECT P.ID, P.NOMBRE AS PLANES, COUNT(I.ID_CLIENTE) AS INSCRITOS
FROM INSCRIPCIONES I 
INNER JOIN PLANES P ON I.PLAN_ID = P.ID
WHERE P.ID = I.PLAN_ID
GROUP BY P.ID, P.NOMBRE
GO
/****** Object:  Table [dbo].[LESIONES]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LESIONES](
	[ID_PER] [int] NOT NULL,
	[POSEE_LESIONES] [varchar](5) NULL,
	[NOMBRE_LESION] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSALES]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSALES](
	[ID_SUCURSAL] [int] NOT NULL,
	[NOMBRE_SUCURSAL] [varchar](30) NULL,
	[UBICACION] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UBICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 3/27/2019 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[NOMBRE] [varchar](30) NOT NULL,
	[PASS] [varchar](50) NOT NULL,
	[CORREO] [varchar](80) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PASS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HISTORIAL]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[INFO_CONTACTO]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[INFO_CONTACTO]  WITH CHECK ADD FOREIGN KEY([ID_SOCIAL])
REFERENCES [dbo].[REDES] ([ID_REDES])
GO
ALTER TABLE [dbo].[INSCRIPCIONES]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[INSCRIPCIONES]  WITH CHECK ADD FOREIGN KEY([PLAN_ID])
REFERENCES [dbo].[PLANES] ([ID])
GO
ALTER TABLE [dbo].[LESIONADOS]  WITH CHECK ADD FOREIGN KEY([ID_PERF])
REFERENCES [dbo].[PERFILES] ([ID_PERFIL])
GO
ALTER TABLE [dbo].[LESIONES]  WITH CHECK ADD FOREIGN KEY([ID_PER])
REFERENCES [dbo].[PERFILES] ([ID_PERFIL])
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD FOREIGN KEY([COD_INSCRIPCION])
REFERENCES [dbo].[INSCRIPCIONES] ([NRO_INSCRIPCION])
GO
ALTER TABLE [dbo].[PERFILES]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[PLANES]  WITH CHECK ADD FOREIGN KEY([COD_SUCURSAL])
REFERENCES [dbo].[SUCURSALES] ([ID_SUCURSAL])
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZA_INSCRIP]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZA_INSCRIP](
    @COD INT, 
    @PLAN VARCHAR(15)
)AS
BEGIN
    DECLARE 
        @CODI INT,
        @NUEVA_DEUDA DECIMAL

    SELECT @CODI = (SELECT ID_CLIENTE FROM INSCRIPCIONES WHERE ID_CLIENTE = @COD)
    SELECT @NUEVA_DEUDA = (SELECT COSTO FROM PLANES WHERE ID = @PLAN)

    IF @CODI IS NOT NULL 
        BEGIN
            UPDATE INSCRIPCIONES SET PLAN_ID = @PLAN, DEUDA = @NUEVA_DEUDA WHERE ID_CLIENTE = @COD
        END
    ELSE
        PRINT 'EL CLIENTE SOLICITADO NO EXISTE'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZA_LESIONADOS]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZA_LESIONADOS](
    @ID INT,
    @NOM VARCHAR(20),
    @DIA DATE,
    @DESC VARCHAR(50)
)AS
BEGIN
     DECLARE 
        @CODI INT

    SELECT @CODI = (SELECT ID_PERF FROM LESIONADOS WHERE ID_PERF = @ID)

    IF @CODI IS NOT NULL 
        BEGIN
            UPDATE LESIONADOS SET NOMBRE_LESION = @NOM, DIA = @DIA, DESCRIPCION = @DESC
            WHERE ID_PERF = @ID
        END
    ELSE
        PRINT 'EL CLIENTE SOLICITADO NO EXISTE'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZA_LESIONES]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZA_LESIONES](
    @ID INT,
    @POSEE VARCHAR(5),
    @NOM VARCHAR(20)
)AS
BEGIN
     DECLARE 
        @CODI INT

    SELECT @CODI = (SELECT ID_PER FROM LESIONES WHERE ID_PER = @ID)

    IF @CODI IS NOT NULL 
        BEGIN
            UPDATE LESIONES SET POSEE_LESIONES = @POSEE, NOMBRE_LESION = @NOM
            WHERE ID_PER = @ID
        END
    ELSE
        PRINT 'EL CLIENTE SOLICITADO NO EXISTE'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZA_REDES]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZA_REDES](
    @ID INT,
    @WHATS VARCHAR(25),
    @FACE VARCHAR(30),
    @INSTA VARCHAR(30),
    @CORREO VARCHAR(40)
)AS
BEGIN
     DECLARE 
        @CODI INT

    SELECT @CODI = (SELECT ID_SOCIAL FROM INFO_CONTACTO WHERE ID_SOCIAL = @ID)

    IF @CODI IS NOT NULL 
        BEGIN
            UPDATE REDES SET WHATSAPP = @WHATS, FACEBOOK = @FACE, INSTAGRAM = @INSTA, 
            CORREO = @CORREO WHERE ID_REDES = @ID
        END
    ELSE
        PRINT 'EL CLIENTE SOLICITADO NO EXISTE'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ASISTENCIA_UNO]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ASISTENCIA_UNO](
    @ID INT
)AS
BEGIN 
    SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, H.FECHA
    FROM CLIENTES C 
    INNER JOIN HISTORIAL H  
    ON C.ID = H.ID 
    WHERE C.ID = H.ID AND C.ID = @ID 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIENTES]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CLIENTES](
@CLIENTID INT,
@NOMBRE VARCHAR(15),
@APELLI VARCHAR(20),
@CEDULA VARCHAR(10),
@SEXO VARCHAR(10),
@NACIMIENTO DATE
)AS
BEGIN
    INSERT INTO CLIENTES VALUES(@CLIENTID, @NOMBRE, @APELLI, @CEDULA, @SEXO, @NACIMIENTO)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIENTES_INSCRITOS_UNO]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CLIENTES_INSCRITOS_UNO](
    @ID INT
)AS
BEGIN
    SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, C.F_NACIMIENTO, 
    I.FECHA_INSCRIPCION, I.PLAN_ID AS TIPO_DE_PLAN, I.DEUDA  
    FROM CLIENTES C 
    INNER JOIN INSCRIPCIONES I 
    ON C.ID = I.ID_CLIENTE
    WHERE C.ID = I.ID_CLIENTE AND C.ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONTACTO_UNO]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONTACTO_UNO]( 
    @COD INT 
)AS
BEGIN 
    SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, R.WHATSAPP, R.FACEBOOK, R.INSTAGRAM,
    R.CORREO, I.TEL_FAMILIAR, I.DIRECCION
    FROM CLIENTES C 
    INNER JOIN INFO_CONTACTO I
    ON C.ID = I.ID_CLIENTE 
    INNER JOIN REDES R
    ON I.ID_SOCIAL = R.ID_REDES
    WHERE C.ID = I.ID_CLIENTE AND C.ID = @COD 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ESTADO_CLIENTES_UNO]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ESTADO_CLIENTES_UNO](
    @ID INT
)AS
BEGIN 
    SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, P.ESTATURA, P.PESO_INICIAL, 
    P.PESO_ACTUAL, L.NOMBRE_LESION, L.DIA, L.DESCRIPCION
    FROM CLIENTES C 
    INNER JOIN PERFILES P 
    ON C.ID = P.ID_CLIENTE
    INNER JOIN LESIONADOS L
    ON P.ID_PERFIL = L.ID_PERF
    WHERE C.ID = P.ID_PERFIL AND C.ID = @ID 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HISTORIAL]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_HISTORIAL](
    @ID INT,
    @INGRESO DATE
)AS 
BEGIN
    DECLARE @COD INT

    SELECT @COD = (SELECT ID FROM CLIENTES WHERE ID = @ID)

    IF @COD IS NOT NULL 
        BEGIN
            INSERT INTO HISTORIAL VALUES(@ID, @INGRESO)
        END
    ELSE
        PRINT 'EL CLIENTE SOLICITADO NO EXISTE'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HISTORIAL_DE_PAGOS_UNO]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_HISTORIAL_DE_PAGOS_UNO]( 
    @COD INT 
)AS
BEGIN 
    SELECT C.ID, C.NOMBRE, C.APELLIDO, C.CEDULA, P.SALDO, P.FECHA, P.DETALLES
    FROM CLIENTES C 
    INNER JOIN INSCRIPCIONES I
    ON C.ID = I.ID_CLIENTE
    INNER JOIN PAGO P
    ON I.NRO_INSCRIPCION = P.COD_INSCRIPCION
    WHERE C.ID = I.ID_CLIENTE AND C.ID = @COD 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSCRIPCIONES]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSCRIPCIONES](
    @NRO_INS INT,
    @FECHA_INS DATE,
    @ID_CLI INT,
    @PL_ID VARCHAR(15),
    @INICIO DATE,
    @FIN DATE,
    @DEUDAS DECIMAL,
    @DESCRIPCION VARCHAR(40)
    
)AS
BEGIN
    INSERT INTO INSCRIPCIONES VALUES(@NRO_INS, @FECHA_INS, @ID_CLI, @PL_ID, @INICIO, @FIN, @DEUDAS, @DESCRIPCION)
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_PERFIL]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PERFIL](
    @CODPER INT
)AS
BEGIN
    INSERT INTO LESIONADOS VALUES(@CODPER, NULL, NULL, NULL)
    INSERT INTO LESIONES VALUES(@CODPER, NULL, NULL) 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REDES]    Script Date: 3/27/2019 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REDES](
    @ID INT,
    @WHATS VARCHAR(25),
    @FACE VARCHAR(30),
    @INSTA VARCHAR(30),
    @CORREO VARCHAR(40)
)AS
BEGIN
    INSERT INTO REDES VALUES(@ID, @WHATS, @FACE, @INSTA, @CORREO)
END
GO
